body{
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;}
   


.calculator{
    font-family: Arial, sans-serif;
    background-color: rgba(15, 7, 7, 0.926);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;}


#display{
    width: 100%;
    height: 140px;
    padding: 20px;
    background-color: rgba(85, 83, 80, 0.675);
    text-align: right;
    border: none;
    color: white;
    font-size: 80px;
    padding-right: 30px;}


.key{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap:2px;
    padding-top: 10px;
    margin-left: 15px;}


.key2{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding-top: 10px;
    margin-left: 15px;}



.other{ 
    background-color: rgba(154, 149, 149, 0.747) ;}

.other:hover{
    background-color: rgba(154, 149, 149, 0.923) ;}

.other:active{
    background-color:rgb(187, 180, 180) ;}



.symbol{
    background-color: rgba(240, 132, 31, 0.762) ;}

.symbol:hover{
    background-color: rgba(240, 132, 31, 0.927) ;}

.symbol:active{
    background-color:rgb(240, 149, 31) ;}



.equal{
    margin-left: 12px;
    background-color: rgba(240, 132, 31, 0.762) ;}

.equal:hover{
    background-color:rgba(240, 132, 31, 0.927) ;}

.equal:active{
    background-color: rgb(240, 149, 31) ;}



.point{
   margin-left: 14px;}

.zero{
    width: 220px;}




button{
    border-radius:50px;
    width:100px ;
    height: 100px;
    background-color: rgba(95, 83, 83, 0.529) ;
    font-size: 40px;
    font-weight: bold;
    border: none;
    color: white;
    cursor: pointer;}

button:hover{
    background-color: rgba(240, 231, 231, 0.263);}

button:active{
    background-color: rgba(240, 231, 231, 0.497);}




@media (max-width:450px){
    .key{
        padding-right: 10px;
    }
    .zero{
        width: 200px;
    }
    .point{
        margin-left: -3px;
    }
    .equal{
        margin-left: -5px;
    }
    .calculator{
        border-radius: 0px;
    }
}

 